* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.card {
  background-color: hsl(0, 0%, 100%);
  max-width: 320px;
  padding: 16px;
  border-radius: 20px;
  text-align: center;
}

img {
  width: 100%;
  border-radius: 10px;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-size: 22px;
  font-weight: 700;
  margin: 24px 0 16px;
}

p {
  color: hsl(216, 15%, 48%);
  font-size: 15px;
  font-weight: 400;
  padding: 0 16px 24px;
}